@use '../base/variables' as *;


.intro {
  padding: 1rem;
  min-height: 80vh;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: clamp(16px, 4vw, 40px);
  grid-template-columns: 1fr 400px;
  grid-template-areas:
    "intro-text profile-img"
    "div-button social-icons";

  .intro-text {
    grid-area: intro-text;
    max-width: 600px;
  }

  .div-button {
    grid-area: div-button;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .social-icons {
    grid-area: social-icons;
    justify-self: center;
    display: flex;
    gap: 20px;
  }
}


.form-container{
  .social-icons{
    display: none;
  }
}

/* =================== Media Queries =================== */

/* Dispositivos pequenos (até 768px) */
@media screen and (max-width: 768px) {
  .navbar {
    padding: 1rem;

    .navbar__links {
      display: none; // Esconde os links para ser ativado via menu hambúrguer
    }
  }

  .menu{
    .navbar__links{
      display: flex;
    }
  }
  .intro {
    padding: 3rem 1rem;
    grid-template-columns: 1fr;
    gap: 40px;
   
    grid-template-areas:
      "profile-img"
      "intro-text"
      "div-button"
      "social-icons";

    .intro-text {
      text-align: center;
      margin: 0 auto;
    }
    
    .div-button {
      justify-content: center;
    }
  }




.contact {
  flex-direction: column;
  .social-icons{
    display: flex;
  }
 
}

.background-img {
  display: none;

  &::before {
    background: rgba(0, 0, 0, 0.7); /* Altere a opacidade para o nível de escurecimento desejado */
    }

}




}

/* Responsividade para telas menores */
@media screen and (min-width: 768px) {
  .btn{
    &.btn-menu{
      display: none;
    }
  }

}

@media screen and (min-width: 270px) and (max-width:830px) {
  .project-card {
    grid-template-columns: repeat(1 , minmax(100px, 550px));
    gap: 5%;

  }
  
}


/* Dispositivos médios (769px - 939px) */
@media screen and (min-width: 769px) and (max-width: 939px) {
  .intro {
    grid-template-columns: 1fr 300px;
  }
}
