.home-img{
  border-right: solid var(--value-default) var(--main-color);
  border-bottom: solid var(--value-default) var(--main-color);
  border-image-source: linear-gradient(135deg, transparent 50%, var(--main-color));
  border-image-slice: 1;
}

.social-media {
  & img{
    width: 3.4rem;
  }
  & a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: solid .15rem  var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 1.8rem .5rem;
    transition: .5s ease;
    &:hover{
      background-color: var(--main-color);
      color: var(--bg-color-02);
      box-shadow: 0 0 0.3rem var(--main-color);
    }
  }
  
}